{% extends "base.html" %}

{% block content %}



<div class="row flex">
    <div class="col-md-12">
        <h2>Add New Doctor</h3>
        <form method="POST" action="{{ url_for('add_doctor') }}" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.dob.label(class="form-label") }}
                {{ form.dob() }}
            </div>
            <div class="mb-3">
                {{ form.experience.label(class="form-label") }}
                {{ form.experience(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.specialization.label(class="form-label") }}
                {{ form.specialization(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.qualifications.label(class="form-label") }}
                {{ form.qualifications(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.department.label(class="form-label") }}
                {{ form.department(class="form-select") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>


{% endblock %}