{% extends "base.html" %}

{% block content %}
    <div class="row my-2">
        <div class="col-11">
            <h1>Medical History</h1>
        </div>
        <button onclick="goBack()" class="btn btn-outline-info mb-3 col-1">back</button>
    </div>
    <p><strong>Patient Name:</strong> {{ patient.name }}<br/>
    <strong>Contact:</strong> {{ patient.contact }}</p>


    {% if not history %}
        <p>No appointment history found for this patient</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Visit No.</th>
                <th scope="col">Visit Type</th>
                <th scope="col">Test Done</th>
                <th scope="col">Diagnosis</th>
                <th scope="col">Prescription</th>
                <th scope="col">Doctor</th>
                </tr>
            </thead>
            <tbody>
            {% for item in history %}
                <tr>
                    <th scope="row">{{item.appointment.id}}</th>
                    <td>{{item.treatment.visit_type}}</td>
                    <td>{{item.treatment.test_done}}</td>
                    <td>{{item.treatment.diagnosis}}</td>
                    <td>{{item.treatment.prescription}}</td>
                    <td>Dr.{{item.doctor.name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}